@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #FAFBFD;
    --button-background-hover: #08bc50;
}

.signin_container {
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: 0.5px solid grey;
    padding: 1rem;
}

.heading {
    font-size: 28px;
    font-weight: bold;
    margin-top: 1rem;
    color: #8DD7AB;
    
}

.form_fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
}

.form_fields input {
    margin-bottom: 0.5rem;
    width: 80%;
    height: 30%;
    border-radius: 1rem;
    border: 1px solid grey;
    text-align: center;
    background-color: var(--primary-color);
}

.form_submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_submit button {
    height: 3rem;
    width: auto;
    font-size: 1rem;
    background-color: #8DD7AB;
    color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 3rem;
    font-weight: bold;
}

.form_submit button:hover {
    cursor: pointer;
}

.signin_prompt {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signin_prompt span {
    font-size: 1rem;
    margin-right: 0.25rem;
}

.signin_prompt a {
    text-decoration: none;
}

.or_signin_container {
    text-align: center;
    margin: 0.75rem;
}

.or_signin_text {
    font-weight: bold;
}

.alternate_login_options button {
    height: 3rem;
    width: auto;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: #8DD7AB;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #8DD7AB;
    border-radius: 3rem;
    font-weight: bold;
}

.alternate_login_options button:hover {
    background-color: #dff2fc;
    cursor: pointer;
}

.freelancer_informative_message {
    margin-top: 0.25rem;
    background-color: #EB3031;
    padding: 1rem;
    border-radius: 1rem;
}

.freelancer_informative_message span {
    color: white;
    /* font-weight: bold; */
    font-size: 1.1rem;
}