body {
    margin: 0;
    padding: 0;
    background-color: #d3d5d6;
}

.landing_container {
    position: relative;
    overflow-y: auto;
    height: 100vh;
}

/* .landing_container img {
    position: absolute;
    z-index: -1;
    width: 100%; 
    height: 100%; 
} */

/* .signin-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(15%);
    text-align: center;
} */

/* .landing_span {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #0077B5;
    font-weight: 500;
} */
