body {
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
}

.landing_container {
    position: relative;
    overflow-y: auto;
    height: 100vh;
}

.landing_container img {
    position: absolute;
    z-index: -1;
    width: 50%; 
    height: 100%; 
}

.signin-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateY(15%);
}

.landing_span {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #0077B5;
    text-decoration: underline;
}
