.profile_detail_main_area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
    transform: translateY(3.5%);
}

.profile_detail_photo {
    background-color: white;
    width: 20%;
    height: 40%;
    border-radius: 1rem;
    margin-right: 2rem;
}

.profile_detail_form {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 80%;
    overflow-y: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}